.itemList{
    width: 80%;
    padding: 1%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    font-weight: bold;
    background: rgb(200,200,200);
    border: 2px solid black;
    overflow: hidden;
}

label{
    float: left;
    clear: left;
    margin-left: 13%;
    padding: 2px;
}

select{
    background: orange;
    border: 1px solid black;
    float: right;
    clear: right;
    width: 40%;
    margin-right: 13%;
    padding: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

#basket{
    background: rgb(190,190,190);
    border: 2px solid black;
    width: 80%;
    margin: auto;
    margin-top: 1%;
    padding: 1%;
    text-align: center;
}

.btns{
    padding: 2% 5%;
    margin-top: 1%;
    background: cyan;
    border: 3px solid rgb(60,60,60);
    font-weight: bold;
    text-transform: uppercase;
}
table tr td{

}
.btns:hover{
    background: rgb(60,60,60);
    color: cyan;
    border: 3px solid cyan;
    cursor: pointer;
}
