.image-styling{
    width: 30%;
    margin: 0 2.5%;
    float: left;
    border: 5px solid cyan;
}


.sect-title{
    text-align: center;
    margin: 2%;
    border: 5px solid cyan;
    background: rgb(60,60,60);
    color: orange;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.sect-title a{
    text-align: center;
    margin: 2%;
    color: orange;
    padding: 2%; 
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.sect-description{
    width: 90%;
    margin: auto;
    font-weight: bold;
    color: rgb(60,60,60)
}

.sect-styling{
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
    overflow: hidden;
}

section{
    border: 2px solid black;
    padding: 2%;
    background: rgb(200,200,200)
}
.buttons{
    padding: 2%;
    background: rgb(190,190,190);
    border: 2px solid cyan;
    margin-top: 2%;
}
.buttons a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(60,60,60);
}